.input-form{
    width: 50%;
    padding-top: 5%;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

form > div{
    padding: 15px;
}

h1{
    text-underline-offset: 4px;
    /* padding: 20px 0px; */
    font-size: 26px;
}

.gender-selector{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.gender-selector label{
    padding: 1% 6%;
    cursor: pointer;
    border: 1px solid rgb(65, 65, 65);
    border-radius: 10px;
}

.gender-selector .selected{
    background-color: #f7ede2;
}

.gender-selector input{
    display: none;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 15px auto;
}

.inputs label{
    display: inline-block;
    width: 35%;
    padding: 5px 10px;
}

.inputs input{
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
    width: 40%;
}

.inputs input::placeholder{
    color: rgba(0, 0, 0, 0.755);
    text-align: center;
}

.button{
    width: 100%;
    justify-content: center;
    display: flex;
}

button{
    background-color: #f7ede2;
    padding: 10px 20px;
    width: 70%;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid black;
    transition: 0.3s all ease;
}

button:active{
    scale: 0.95;
}
